Source: remoto
Maintainer: Ken Dreyer <kdreyer@redhat.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 7.4.3),
 dh-python,
 python,
 python-execnet,
 python-mock,
 python-pytest,
 python-setuptools,
Standards-Version: 3.9.7
X-Python-Version: >=2.7

Package: python-remoto
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Execute remote commands or processes
 A very simplistic remote-command-executor using ssh and Python in the remote
 end.
